@font-face {
  font-family: 'Atop';
  src: url('../assets/fonts/Atop.ttf') format('truetype');
}

/* @font-face {
  font-family: '';
  src: url('../assets/fonts/.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */